<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <movie-list :movies="movies"></movie-list>
    <h2>{{ message }}</h2>
    <h3>{{ msg }}</h3>
    <h3>{{ numAddone }}</h3>
    <h3>{{ numAddone }}</h3>
    <input type="num" v-model="num">
  </div>

  <script>
    const Movies = {
      data() {
        return {
          message: 'Hello World!',
          num: 0,
          movies: ['大话西游', '进击的巨人', '少年有你']
        }
      },
      computed: {
        numAddone() {
          console.log(1212);
          return this.num + 1
        }
      },
      // 计算属性与方法
      methods: {
        // numAddone() {
        //   console.log(1212);
        //   return this.num + 1
        // }
      }
    }
    const msg = '你好啊，李银河！'
    const app = Vue.createApp(Movies)
    app.component('MovieList', {
      props: ['movies'],
      template: `
        <ul>
          <li v-for="(item, index) in movies" :key="index">{{item}}</li>  
        </ul>
      `
    })

    app.mount('#app')
  </script>
</body>
</html>