<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <!-- html里面需使用双标签 -->
    <custom-input v-model="value"></custom-input>
    <!-- value为双向绑定 -->
    <custom-input v-model="value2"></custom-input>
    <custom-input v-model="value2"></custom-input>
    <button @click="getData">获取数据</button>    
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          value: 'a',
          value2: 'b'
        }
      },
      methods: {
        getData() {
          console.log(this.value2);
        }
      }
    });
    app.component('CustomInput', {
      props: ['modelValue'],
      template: `
        <div>
          aaa
          <input v-model="value" >
        </div>
      `,
      computed: {
        value: {
          get() {
            return this.modelValue;
          },
          set(newVal) {
            console.log(newVal);
            this.$emit('update:modelValue', newVal);
          }
        }
      },
      created () {
        console.log('组件创建了');
      }
    });
    app.component('Counter', {
      template: `
        <div>
          <h3>{{ count }}</h3>
          <button v-on:click="count++">+1</button>
        </div>
      `,
      data () {
        return {
          count: 0
        }
      },
      created () {
        console.log('conter组件被创建了');
      }
    })
    app.mount('#app');
  </script>
</body>

</html>